.numpad-cont {
    width: 500px;
    background-color: black;
    border-radius: 10px;
    padding: 10px;

    .display-cont {
        height: 100px;
        color: white;
        font-size: 100px;
        padding: 30px 20px;
        width: 90%;
        text-align: end;
    }

    .pads-cont app-pad {
        display: inline-block;
        margin: 10px;

        &:nth-child(1) > button.btn-pad,
        &:nth-child(2) > button.btn-pad,
        &:nth-child(3) > button.btn-pad {
            background-color: #d3d3d3 !important;

            &:hover {
                background-color: lighten(#d3d3d3, 5) !important;
            }

            &:active {
                background-color: darken(#d3d3d3, 10) !important;
            }
        }

        &[ng-reflect-label="0"] > button.btn-pad {
            width: 221px;
        }
    }
}